@import "global.css";

.form {
    /* background: rgba(19, 35, 47, 0.9); */
    background: #fff;
    padding: 40px;
    max-width: 440px;
    margin: 40px auto;
    border-radius: 2px;
    /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); */
    box-shadow: var(--shadowDark2dp);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 7px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: var(--hoverBlue);
    color: #ffffff;
}

.tab-group .active a {
    background: var(--baseBlue);
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

.login-greeting {
    text-align: center;
    color: #393939;
    font-weight: 300;
    margin: 0 0 40px;
    font-size: 30px;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

.create-account {
    list-style: none;
}

#fname-left {
    float: left;
    width: 48%;
    margin-right: 4%;
}

#lname-right {
    float: left;
    width: 48%;
}

.error {
    color: red;
    font-size: 14px;
}